
a { color: #F54F36; }

a:hover { color:#C8321B;}

#sideskill{
	background-color:#222222;
	color: #FFFFFF;
}

.active {
    background: none repeat scroll 0 0 #F54F36;
}

.skill li span {
    background-color: #F54F36;
}
.service-1 .icon-stack {
    color: #F54F36;
}
.service-1 .icon-stack:hover {
    color:#C8321B;
}
.service-2 .icon-stack {
    color: #F54F36;
}
.service-2 .icon-stack:hover {
    color:#C8321B;
}
.service-3:hover:before {
	border-color:#FFFFFF #FFFFFF #4e4e4e #4e4e4e; 
}
.service-3:hover{
    background: #F54F36;
    color: #FFFFFF;
}
#filters li a:hover{
	background-color: #F54F36;
}
#options li a.selected{
	background-color: #F54F36;
}
.item-overlay{
    background-color: #F54F36;
}

.blog-quote{
	background-color: #F54F36;
}
.blog-quote:hover{
    background-color: #C8321B;
    color: #FFFFFF;
}
.blog-quote p{
    color: #FFFFFF;
}
.btn{
    background-color: #F54F36;
}
.btn:hover,.btn:focus{
    background-color: #C8321B;
}
.clients .flex-direction-nav a{
	background: none repeat scroll 0 0 #F54F36;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	background: none repeat scroll 0 0 #C8321B;
}