<!--<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.url }}/">Overview</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{ site.url }}/docs/home/">Doc<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">umentation</span></a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="{{ site.url }}/news/">News</a>
  </li>
  <li class="">
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
</ul>
-->
<!-- sideskill -->
			<div id="sideskill">
				<a class="tap-nav" data-placement="right" data-toggle="tooltip" title="Navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<nav>
					<ul id="navs">
						<li class="active"><a href="#home" data-placement="right" data-toggle="tooltip" title="Home"><i class="li_shop"></i><span>Home</span></a></li>
						<li><a href="#about" data-placement="right" data-toggle="tooltip" title="About"><i class="li_user"></i><span>About</span></a></li>
						<li><a href="#blog" data-placement="right" data-toggle="tooltip" title="Blog"><i class="li_news"></i><span>Blog</span></a></li>
						<li><a href="#contact" data-placement="right" data-toggle="tooltip" title="Contact"><i class="li_paperplane"></i><span>Contact</span></a></li>
					</ul>
				</nav>
			</div>
<!-- sideskill end -->
